body{
    background-color: black;
}
header {
    background-image: url(/img/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 9.5% 0 0;
    padding-top: 1em;
    padding-bottom: 5em;
    height: 681px;
    nav {
        
        display: flex;
        justify-content: space-between;
        margin-bottom: 5em;
        .logo{
            position: relative;
            left: 1em;
        }
        ul{
            font-size: 1.6em;
            display: flex;
            justify-content: center;
            
            a{ 
                color: white;
                padding: 5px;
                margin: 5px;
            }
        }
    }
    .hero {
        color: white;
        padding: 0 15%;
        text-align: center;
        height: 46em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{
            font-size: 3em;
        }
        h1{
            font-size: 5em;
        }
        .button{
            font-size: 1.6em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
            background-color:blanchedalmond;
            width: 10em;
            height: 2em;
        }
    }
}
main {
    display: grid;
    grid-template-columns: 4.5% 1fr 4.5%;
    grid-template-rows: auto;
    .about-us{
        grid-column: 2;
        padding: 1em 1em;
        text-align: start;
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10em;
        .portfolio{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            border: 1px solid black;
            border-radius: 15em;
            width: 10em;
            height: 2em;
            
        }
    }
    aside{
        grid-column: 2;
    }
}